<!-- <div class="container-fluid">
  <div class="row">
    <p>
      <button mat-raised-button color="primary" (click)="availabilityCreate()">create availabiliy</button>
    </p>
  </div>
  <div class="row">
    <div class="col-sm">
        <mat-form-field>
            <mat-label>Selection de la salle</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="1">Les disparus du Fort Lachaux</mat-option>
                <mat-option value="2">Halloween 2019</mat-option>
              </mat-select>


          </mat-form-field>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <mat-card>

          <label id="example-radio-group-label">Durée de la partie</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="gameTotalDuration">
                <mat-radio-button  class="example-radio-button"  value="60">60 minutes</mat-radio-button>
                <mat-radio-button  class="example-radio-button" value="90">90 minutes</mat-radio-button>
          </mat-radio-group>
        </mat-card>
    </div>

  </div>
  <div class="row">

      <div class="col-sm">
        <div>Date de début: {{selectedStartDate  | date:'short'}}</div>
        <mat-card >
          <dl-date-time-picker
          maxView="day"
          minView="minute"
          startView="day"
          minuteStep="30"
          [(ngModel)]="selectedStartDate">
          </dl-date-time-picker>
        </mat-card>


    </div>
    <div class="col-sm">
        <div>Date de fin: {{selectedEndDate | date:'short'}}</div>
      <mat-card>
        <dl-date-time-picker
        maxView="day"
        minView="minute"
        startView="day"
        minuteStep="30"
        [(ngModel)]="selectedEndDate">
        </dl-date-time-picker>
      </mat-card>
    </div>

  </div>
  <div class="row">
      <div class="mx-auto my-5" style="width: 200px;">
      <button style="width: 200px;" mat-raised-button color="primary" (click) ="creer()">Creer les crénaux</button>
    </div>
  </div>
</div> -->
